@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-isidora: var(--font-isi); /* Add this line */
  --font-isidora2: var(--font-isidora); /* Add this line */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.isidora {
  font-family: var(--font-isi), sans-serif;
}
.isidora2 {
  font-family: var(--font-isidora);
}
.isidora3 {
  font-family: var(--font-isidora3);
}
.isidora4 {
  font-family: var(--font-isidora4);
}
.work {
  font-family: var(--work), sans-serif;
}

.work1 {
  font-family: var(--work1), sans-serif;
  font-weight: 300;
}

.work2 {
  font-family: var(--work2), sans-serif;
  font-weight: 400;
}

.work3 {
  font-family: var(--work3), sans-serif;
  font-weight: 500;
}

.work4 {
  font-family: var(--work4), sans-serif;
  font-weight: 600;
}


.bg1 {
  background: linear-gradient(
    90.01deg,
    #0D1854 80.08%,
    #265F9C 113.41%,
    #0084C8 139.01%
  );
}

section {
  width: 100vw; /* full viewport width */
  margin-left: calc(50% - 50vw); /* remove container padding/margin */
}

body, html {
  margin: 0;
  padding: 0;
}